/*

Strategy Template

http://www.templatemo.com/tm-489-strategy

*/

ul { padding: 0; margin: 0;}
.cd-hero-slider li { 
	list-style: none; 
    background-color: green;

}
html { font-size: 100%; }
body {
	background-color: white;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
	overflow-x: hidden;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

/* Hero slider */
.cd-hero-slider { height: 500px; }

.cd-hero-slider .cd-full-width {
	padding-top: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.cd-hero-slider li:first-of-type() {  }
.cd-hero-slider li:nth-of-type(2) {background :url("../images/img1.jpg")no-repeat center center; }
.cd-hero-slider li:nth-of-type(3) {background:url("../images/img2.jpg")no-repeat center center; }

.cd-slider-nav { background-color: transparent; }

.tm-slide-content-div {
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;	
	margin-left: 2%;
    margin-right: 2%;
    margin-top: -10px;
    max-width: 600px;
    padding: 4%;
    width: 100%;  
}

.cd-hero-slider h2, 
.cd-hero-slider p {
	color: black;
	font-weight: 300;
	margin-bottom: 10px;
}

.cd-hero-slider .cd-btn,
.cd-hero-slider .form-control { border-radius: 6px; }
.cd-btn { border-radius: 10px; }

.cd-hero-slider .cd-btn { 
	font-size: 1rem; 
	padding: 0.5em 1.5em;
}

.cd-hero-slider .cd-btn,
.cd-btn {
	background-color: #0099cb;
	border: none;
	color: white;
	text-transform: capitalize;
	margin-top: 0;
}

.cd-btn { padding: 0.8em 2.5em; }

.cd-hero-slider .cd-btn:hover,
.cd-hero-slider .cd-btn:focus,
.cd-btn:hover,
.cd-btn:focus {
	background-color: #58BEDF;
}

.cd-hero-slider h2 { font-size: 1.6em; }

.cd-hero-slider p { 
	width: 100%;	
	max-width: none;
}

.cd-hero-slider p,
.cd-hero-slider .form-control { font-size: 16px; }

.cd-hero-slider .form-control {	padding: 0.5rem 0.6rem; }

.tm-slide-icon { 
	font-size: 4rem;
	margin-bottom: 1rem; 
}

.form-control { 
	border: 1px solid #6A6A6A;
	border-radius: 10px;
	font-size: 1.3rem;
	padding: 0.9rem; 
}

.tm-max-w-400 { max-width: 400px; }

.form-control::-webkit-input-placeholder {
   color: #000000;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
}

.form-control:-ms-input-placeholder {  
   color: #000000;  
}

.cd-hero-slider p.m-b-mid { margin-bottom: 15px; }

.cd-slider-nav { height: 40px; }

.cd-slider-nav li, 
.cd-slider-nav .cd-marker { width: 40px; }

.cd-slider-nav .cd-marker { 
	background-color: transparent; 
	color: transparent;
}

.cd-slider-nav a {
	display: inline-block;
    width: 20px;
    height: 20px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);    
    border-radius: 10px;
    padding-top: 0;
}

.cd-slider-nav li.selected a { background-color: rgba(255,255,255,1); }

.tm-section-2 {	max-width: 1050px; }
.tm-section-3-inner { max-width: 1250px; }
.tm-section-5-inner { 
	padding: 80px 5%;
	max-width: 1000px; 
}

.tm-section-2 { padding: 60px 5% 40px; }
.tm-section-3 {	padding: 60px 5% 20px; }

.tm-section-4 { 
	padding: 60px 5% 90px; 
	max-width: 900px;
}

.tm-media-img { 
	padding: 0.5rem;
	box-shadow: 0px 0px 4px 2px rgba(197, 197, 197, 0.5);
	display: block;
	margin: 10px auto 30px;
}
.tm-media-title {
	margin-bottom: 0.7em;
	line-height: 1.5;
}

.tm-media-description {	line-height: 2em; }

.tm-media-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 30px;	
}

.tm-media-row:last-child { margin-bottom: 0; }

.tm-gray-text { color: #666666; }
.tm-gray-text-2 { color: #656565; }

.tm-bg-purple { background-color: #3F3F67; }
.tm-bg-light-purple { background-color: #C4C4DB; }
.tm-bg-light-green { background-color: #C6D9C8; }
.tm-bg-light-orange { background-color: #DDD3C1; }
.tm-text-white, .tm-text-white a { color: #ffffff; }

.tm-section-3-header { max-width: 620px; }
.tm-section-3-title { 
	font-weight: 300;
	margin-bottom: 2rem; 
}
.tm-section-3-description { 
	line-height: 1.8; 
	margin-bottom: 4rem;
}

.tm-carousel-item-text { line-height: 1.9; }

.tm-plan-boxes-container {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.tm-plan-table-row { display: block; }
.tm-plan-table-row {
	padding: 20px 35px 0;
}

.tm-plan-table-row:first-child { padding-top: 35px; }
.tm-plan-table-row:last-child { padding-bottom: 35px; }

.tm-plan-link { padding: 1.2rem; }

.tm-plan-table-header {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	color: #3F3F67;
	font-size: 1.8rem;
	font-weight: 300;
	background-color: white;
	padding: 0.9rem;
}

.tm-plan { 		
	width: 100%;
	margin-bottom: 40px;
}

.tm-plan-link {
	color: #3F3F67;
	background-color: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	display: block;
	font-weight: 400;
}

.tm-plan-link:hover,
.tm-plan-link:focus {
	color: #ffffff;
}

.tm-plan-link-purple:hover,
.tm-plan-link-purple:focus {
	background-color: #8282AA;
}

.tm-plan-link-green:hover,
.tm-plan-link-green:focus {
	background-color: #9FBBA2;
}

.tm-plan-link-orange:hover,
.tm-plan-link-orange:focus {
	background-color: #BFAF92;
}

.carousel-indicators li { 
	background-color: rgb(158,158,158); 
	margin: 0;
}

.carousel-indicators .active { background-color: #CBCBCB; }

.carousel-indicators li,
.carousel-indicators .active {
	width: 20px;
	height: 20px;
}

.carousel-indicators { bottom: -50px; }

.tm-contact-form {
	overflow: auto;
	margin-bottom: 50px;
}

.tm-social-icon-link {	    
    background: #60608A;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 9px;
    display: inline-block;
    margin-right: 5px;
}

.tm-social-icon-link:last-child { margin-right: 0; }

.tm-social-icon-link:hover,
.tm-social-icon-link:focus {
	color: #60608A;
    background: white;
}

.tm-social-icons-container { margin-bottom: 50px; }
.tm-copyright-text { margin-bottom: 0; }
.tm-slide-content-div { padding: 30px; }

@media only screen and (min-width: 350px) {

	.tm-plan-table-row { padding: 25px 50px 0; }
	.tm-plan-table-row:first-child { padding-top: 50px; }
	.tm-plan-table-row:last-child { padding-bottom: 50px; }
}

@media only screen and (min-width: 400px) {

	.cd-hero-slider { height: 568px; }
	.cd-hero-slider h2, 
	.cd-hero-slider p {
		font-weight: 400;
		margin-bottom: 14px;
	}
	.cd-hero-slider h2 { font-size: 2em; }
	.cd-hero-slider p {	font-size: 20px; }

	.cd-hero-slider p.m-b-mid { margin-bottom: 20px; }

	.cd-hero-slider .cd-btn {
		font-size: 1.3rem;
		margin-top: 17px;
	}

	.cd-hero-slider .cd-btn { padding: 0.8em 2.5em;	}

	.cd-hero-slider .cd-btn,
	.cd-hero-slider .form-control { border-radius: 10px; }

	.tm-slide-icon { 
		font-size: 6rem; 
		margin-bottom: 2rem;
	}
	.cd-hero-slider .form-control { 
		font-size: 1.3rem; 
		padding: 0.9rem;
	}
}

@media only screen and (min-width: 544px) {
	
	.tm-slide-content-div { margin-top: 0; }
	.tm-media-row {	-webkit-flex-direction: row;	-ms-flex-direction: row;	flex-direction: row; }
	.tm-flex-child-2 { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
	.tm-flex-child-1 { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
	.tm-social-icon-link { margin-right: 15px; }		
}

@media only screen and (min-width: 768px) {

	.tm-slide-content-div { padding: 4%;  }
	.cd-hero-slider h2 { font-size: 3em; }
	.cd-hero-slider { height: 630px; }
	.tm-slide-content-div { padding: 5%; }
	.cd-hero-slider p.m-b-mid { margin-bottom: 40px; }
	.tm-media-text-container { padding-left: 50px; }
	.tm-media-text-container-left { 
		padding-left: 0; 
		padding-right: 50px;
	}
	.tm-plan { margin-bottom: 0; }
	.tm-section-3 {	padding: 90px 5% 100px;	}
	.tm-section-4 { padding: 80px 5% 110px; }
}

@media only screen and (min-width: 992px) {
	.cd-hero-slider { height: 700px; }
	.cd-hero-slider p.m-b-mid { margin-bottom: 60px; }		
}

@media only screen and (min-width: 1170px) {

	.cd-hero-slider { height: 900px; }
	.tm-slide-content-div { padding: 60px; }
	.tm-section-2 { padding: 100px 0 60px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tm-table-col {
		padding-left: 5px;
		padding-right: 5px;
	}

	.tm-section-3,
	.tm-section-4 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tm-plan-link { padding: 1rem; }

	.tm-plan-table-row { padding: 20px 35px 0; }
	.tm-plan-table-row:first-child { padding-top: 35px; }
	.tm-plan-table-row:last-child { padding-bottom: 35px; }
}

@media only screen and (max-width: 400px) {
	.tm-table-col { padding: 0; }
	.tm-section-5-inner { padding: 60px 5%; }
}